In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import pickle

In [16]:
data=pd.read_csv('data.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [17]:
data.drop(['Surname','RowNumber','CustomerId'],axis=1,inplace=True)

In [18]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['Gender']=le.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [19]:
## Onehot encode 'Geography
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoder


onehot_encoder_geo.get_feature_names_out(['Geography'])

geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [20]:
## Save the encoders and sscaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(le,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [21]:
X=data.drop('Exited',axis=1)
y=data['Exited']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [22]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

# ANN

In [23]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

### Build ANN Model

In [24]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train_scaled.shape[1],)), ##HL1 connected with input layer
    Dense(32,activation='relu'),  ##HL2
    Dense(1,activation='sigmoid')  ##Output Layer
])

WARNING:tensorflow:From c:\Users\Admin\Desktop\ANN\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

### Compile the model

In [ ]:
opt=tf.keras.optimizers.Adam(learning_rate=0.001)  
#when using Adam optimizer, it is better to set learning rate explicitly

In [ ]:
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [30]:
logdir="logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_calllback=TensorBoard(log_dir=logdir, histogram_freq=1)

In [33]:
from tensorflow.keras.callbacks import EarlyStopping

early_stop = EarlyStopping(
    monitor='val_loss',    # what metric to monitor
    patience=10,            # how many epochs to wait before stopping
    restore_best_weights=True  # revert to best model before overfitting
)

### Train the model

In [34]:
history=model.fit(X_train_scaled,y_train,validation_data=(X_test_scaled,y_test),epochs=100,
                  callbacks=[early_stop,tensorflow_calllback]
                )

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3252 - accuracy: 0.8659 - val_loss: 0.3401 - val_accuracy: 0.8635
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3232 - accuracy: 0.8670 - val_loss: 0.3425 - val_accuracy: 0.8575
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3219 - accuracy: 0.8680 - val_loss: 0.3421 - val_accuracy: 0.8590
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3201 - accuracy: 0.8665 - val_loss: 0.3368 - val_accuracy: 0.8660
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3182 - accuracy: 0.8666 - val_loss: 0.3400 - val_accuracy: 0.8615
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3175 - accuracy: 0.8669 - val_loss: 0.3405 - val_accuracy: 0.8620
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3156 - accuracy: 0.8691 - val_loss: 0.3448 - val_accuracy: 0.8565
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3139 - accuracy: 0.8709 - val_loss: 0.3348 - val_accuracy: 0.8625
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3116 - accuracy: 0.8714 - val_loss: 0.3370 - val_accuracy: 0.8640
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3120 - accuracy: 0.8733 - val_loss: 0.3379 - val_accuracy: 0.8590
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3098 - accuracy: 0.8714 - val_loss: 0.3358 - val_accuracy: 0.8650
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3092 - accuracy: 0.8711 - val_loss: 0.3326 - val_accuracy: 0.8670
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3060 - accuracy: 0.8725 - val_loss: 0.3349 - val_accuracy: 0.8615
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3043 - accuracy: 0.8737 - val_loss: 0.3394 - val_accuracy: 0.8600
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3024 - accuracy: 0.8744 - val_loss: 0.3356 - val_accuracy: 0.8615
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3027 - accuracy: 0.8767 - val_loss: 0.3354 - val_accuracy: 0.8635
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2998 - accuracy: 0.8745 - val_loss: 0.3335 - val_accuracy: 0.8620
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2987 - accuracy: 0.8760 - val_loss: 0.3361 - val_accuracy: 0.8620
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2990 - accuracy: 0.8736 - val_loss: 0.3333 - val_accuracy: 0.8660
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2956 - accuracy: 0.8763 - val_loss: 0.3319 - val_accuracy: 0.8635
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2960 - accuracy: 0.8764 - val_loss: 0.3359 - val_accuracy: 0.8595
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2940 - accuracy: 0.8749 - val_loss: 0.3332 - val_accuracy: 0.8635
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2932 - accuracy: 0.8784 - val_loss: 0.3351 - val_accuracy: 0.8635
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2912 - accuracy: 0.8786 - val_loss: 0.3391 - val_accuracy: 0.8620
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2902 - accuracy: 0.8786 - val_loss: 0.3386 - val_accuracy: 0.8610
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2893 - accuracy: 0.8792 - val_loss: 0.3360 - val_accuracy: 0.8650
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2872 - accuracy: 0.8819 - val_loss: 0.3355 - val_accuracy: 0.8665
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2870 - accuracy: 0.8815 - val_loss: 0.3386 - val_accuracy: 0.8650
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2864 - accuracy: 0.8798 - val_loss: 0.3363 - val_accuracy: 0.8640
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2863 - accuracy: 0.8802 - val_loss: 0.3396 - val_accuracy: 0.8640

In [35]:
model.save('model.h5')

c:\Users\Admin\Desktop\ANN\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(